
  <h1>I love Ruby!!!!</h1>
  <p>Hello World</p>
  <p><%= date %></p>
  <p><%= 1+1+2+3+5 %></p>
  <% if 2==1 %>
    <p>Równe!</p>
  <% else %>
    <p>Różne...</p>
  <% end %>
  <% [1,2,3,4,5].each do |element| %>
    <p><%= element %>
  <% end %>
